NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=<YOUR_NEXTAUTH_SECRET>

KEYCLOAK_CLIENT_ID=weekly-report-frontend
KEYCLOAK_CLIENT_SECRET=<Your client secret>
KEYCLOAK_ISSUER=http://localhost:8080/realms/<your realms>

NEXT_PUBLIC_API_BASE_URL=http://localhost:8082/api
NEXT_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8080/realms/<ypur realms>
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=weekly-report-frontend